<h1>Profile Page</h1>

<p> Email Address: <strong><%= current_user.email %></strong> </p>

<%= link_to "Create a new item", new_item_path, class: 'btn btn-primary' %>

<% current_user.items.each do |item| %>
  <p><%= item.name %></p>
<% end %>


