<h1 class="text-center">To-Do List</h1>
<br>
<div class="text-center">
<%= render partial: 'items/item'%>
</div>
<br>
<div class="text-center"><%= link_to "Create a new item", new_item_path, class: 'btn btn-primary' %></div>
<br>
<br>
<div class="text-center">
<p><strong><%= current_user.email %></strong> </p>
<%= link_to 'Change Password', edit_user_registration_path %>
</div>



